.button, .input, .select, .textarea, .file-cta, .file-name {
    margin: 10px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: .375em;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) calc(.75em - 1px);
    position: relative;
    vertical-align: top;
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    padding: 0 1em; /*calc(.5em - 1px)*/
    text-align: center;
    white-space: nowrap;
}

.button.is-link {
    background-color: #485fc7;
    border-color: transparent;
    color: #fff;
    margin: 5px;
}

.red {
    background-color: #D32F2F !important;
}

.green {
    background-color: green !important;
}


.button.is-link:hover {
    background-color: #3e56c4;
    border-color: transparent;
    color: #fff;
}

.add-button {
    background-color: #485fc7;
    color: #fff;
    float: right;
    position: relative;
    top: -4px;
}

.icon-button {
    margin: 0;
    text-decoration: none;
    padding: 0 14px;
}

.icon-button i {
    font-size: 20px;
}
