/*
|--------------------------------------------------------------------------
| Course CSS
|--------------------------------------------------------------------------
|
| This file contains the css code that is used by course view
| (/views/course.php).
|
*/

.table {
    width: 90%;
    /*height: 85%;*/
    overflow-x: scroll;
    margin: 30px auto;
}

table {
    width: 100%;
}

table, tr, td {
    /*width: 100%;*/
    border: solid 1px black;
    border-collapse: collapse;
    white-space: nowrap;
}

tr, td {
    padding: 3px 2px;
}

.time {
    /*transform: rotate(300deg);*/
    font-size: 10pt;
    padding: 0 2px;
}

.e {
    border-right: 3px solid black;
}

.s {
    border-left: 3px solid black;
}

.m {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.header {
    left: 1px;
    position: sticky;
    background-color: #f1f1f1;
    /*width: 300px;*/
}

.header1 {
    left: 206px;
    position: sticky;
    background-color: #d0d0d0;
    border: 1px solid black;
}

.header2 {
    left: 257px;
    position: sticky;
    background-color: #f1f1f1;
    /*border-right: 1px solid black;*/
}

.form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.select {
    margin: 20px;
}

.p {
    width: 5px;
}

.g {
    background-color: var(--table-green) !important;
}

.r {
    background-color: var(--tabble-red) !important;
}

.border {
    border: 2px solid black;
}
